
.donate-hidden {
    display: none;
}

.sponsor-card a {
    text-decoration: none;
}

/* Blog post date and category */
.post-meta {
    font-style: italic;
}

/* Progress bar css */
:root {
  --progress-percent: 11%;
}

.fund-header {
    height: 60px;
}

.fund-header h5 {
    margin-bottom: 0.1rem;
    text-overflow: clip;
    white-space: nowrap;
}
.progress-bg {
    position: sticky;
	margin: 0 auto;
	width: 65%;
	height: 30px;
	border-radius: 15px;
  text-align: center;
	-moz-box-shadow:    inset 0 0 10px #ccc;
	-webkit-box-shadow: inset 0 0 10px #ccc;
	box-shadow:         inset 0 0 10px #ccc;
}

.progress-bar {
	height: 30px;
	border-radius: 15px;
	float: left;
	width: 60%;
	/* fallback */ 
	background-color: #1c314a; 
	
	/* Safari 4-5, Chrome 1-9 */ 
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#1c314a), to(#6183a7)); 
	
	/* Safari 5.1, Chrome 10+ */ 
	background: -webkit-linear-gradient(top, #1c314a, #6183a7); 
	
	/* Firefox 3.6+ */ 
	background: -moz-linear-gradient(top, #1c314a, #6183a7); 
	
	/* IE 10 */ 
	background: -ms-linear-gradient(top, #1c314a, #6183a7); 
	
	/* Opera 11.10+ */ 
	background: -o-linear-gradient(top, #1c314a, #6183a7);	
}

.progress-bg h3.goal, .progress-bg h3.raised {
	font-family: Arial,sans-serif;
    font-size: 1.25em;
    font-weight: 500;
	line-height: 30px;
	margin: 0;
	padding: 0;
	text-align: center;
	display: inline;
}


.progress-bg h3.raised {
	color: #fff;
	line-height: 30px;
	margin: 0px 10px 0 20px ;
	padding: 0 0 0 0;
}

.progress-bg h3.goal {
	color: #666666;
  text-align: center;
}

body .progress-bg h3.raised {
    -webkit-animation: fadein 4s; /* Safari and Chrome */
       -moz-animation: fadein 4s; /* Firefox */
        -ms-animation: fadein 4s; /* Internet Explorer */
         -o-animation: fadein 4s; /* Opera */
            animation: fadein 4s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari and Chrome */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}​

/* Opera */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}​

.progress-bg h3.goal {
	float: right;
	display: inline;
	padding: 0 0 0 0;
  text-align: center;
}

body .progress-bg div {
	-webkit-animation: progress-bar 2s ease forwards;
	-moz-animation: progress-bar 2s ease forwards;
	-o-animation: progress-bar 2s ease forwards;
	animation: progress-bar 2s ease forwards;
}

@-webkit-keyframes progress-bar {
    from { width: 0%; }
    to { width: var(--progress-percent); }
}

@-moz-keyframes progress-bar {
    from { width: 0%; }
    to { width: var(--progress-percent); }
}

@-o-keyframes progress-bar {
    from { width: 0%; }
    to { width: var(--progress-percent); }
}

@keyframes progress-bar {
    from { width: 0%; }
    to { width: var(--progress-percent); }
}