<div class="row">
    <div class="col-md-5">
        {{ $img := (.Resources.GetMatch "*.{jpg,png,gif}") }}
        {{ if $img }}
        <img class="ratio ratio-16x9" src="{{ $img.Permalink }}">
        {{ end  }}
    </div>
    <div class="col-md-7">
        <h3>{{ .Title }}</h3>
        <h4>{{ .Params.projectdeveloper }}</h4>
        <p>{{ .Content }}</p>
        <a class="btn btn-primary mb-3" href="{{ .Params.projecturl }}">View Project <span class="glyphicon glyphicon-chevron-right"></span></a>
    </div>
</div>
<hr />