{{ partial "header.html" .}}

<!-- Page Header -->
<header class="intro-header">
    <div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-8 col-md-10 align-self-center">
            <div class="site-heading text-center">
                <h1>{{ title .Site.Title }}</h1>
                <h3>{{ $.Site.Params.description }}</h3>
                <hr class="intro-divider">
                <ul class="list-inline intro-social-buttons">
                <li class="list-inline-item mb-2">
                    <a href="https://docs.kicad.org" class="btn btn-secondary"><i class="fa fa-book fa-fw"></i> <span class="network-name">Docs</span></a>
                </li>
                <li class="list-inline-item mb-2">
                    <a href="/download/" class="btn btn-default btn-primary">
                        <i class="fa fa-download fa-fw"></i> <span class="network-name">Download</span>
                        <i class="fab fa-linux font-weight-light"></i>
                        <i class="fab fa-apple font-weight-light"></i>
                        <i class="fab fa-windows font-weight-light"></i>
                    </a>
                </li>
                <li class="list-inline-item mb-2">
                    <a href="/libraries/download/" class="btn btn-secondary">
                    <i class="fa fa-file-download fa-fw"></i><span class="network-name">Libraries</span>
                    </a>
                </ul>
            </div>
        </div>
    </div>
    </div>
</header>

    <!-- Page Content -->
    <!-- These content sections could potentially be adoc's later on for easy translation. We could then place them in a folder an loop through that to add it here. The image can be specified in the adoc also. Maybe even show some of the latests posts? -->
<a  name="services"></a>
<div class="container">
    <div class="row">
        <div class="col-md-9">
            <div class="content-section-a mb-3">
                <div class="row">
                    <hr class="section-heading-spacer">
                    <div class="col-lg-6 col-sm-6">
                        <div class="clearfix"></div>
                        <h2 class="section-heading">Schematic Capture</h2>
                        <p class="lead text-align-justify">With the schematic editor you can create your design without limit; there are no paywalls to unlock features. An official library for schematic symbols and a built-in schematic symbol editor help you get started quickly with your designs.</p>
                        <a href="/discover/eeschema/" class="btn btn-secondary btn-block mb-3" aria-label="Learn more about schematic capture">
                            <i class="fa fa-book fa-fw"></i> <span class="network-name">Learn more</span>
                        </a>
                    </div>
                    <div class="col-lg-6 col-sm-6">
                        <a href="/img/frontpage/kicad_eeschema.png" aria-label="Click to view larger image of hackRF schematic">
                            <img class="ratio ratio-16x9" src="/img/frontpage/kicad_eeschema_thumb.png" alt="Image of hackRF schematic open in eeschema">
                        </a>
                    </div>
                </div>
            </div>
            <!-- /.content-section-a -->

            <div class="content-section-b mb-3">
                <div class="row">
                    <hr class="section-heading-spacer">
                    <div class="col-lg-6 order-sm-1 col-sm-6">
                        <div class="clearfix"></div>
                        <h2 class="section-heading">PCB Layout</h2>
                        <p class="lead text-align-justify">Make professional PCB layouts with up to 32 copper layers. KiCad now has a push and shove router which is capable of routing differential pairs and interactively tuning trace lengths.</p>
                        <a href="/discover/pcbnew/" class="btn btn-secondary btn-block mb-3"  aria-label="Learn more about pcb layout capabilities">
                            <i class="fa fa-book fa-fw"></i> <span class="network-name">Learn more</span>
                        </a>
                    </div>
                    <div class="col-lg-6 order-sm-6 col-sm-6">
                        <a href="/img/frontpage/kicad_pcbnew.png" aria-label="Click to view larger image of hackRF PCB">
                            <img class="ratio ratio-16x9" src="/img/frontpage/kicad_pcbnew_thumb.png"  alt="Image of hackRF PCB open in pcbnew">
                        </a>
                    </div>
                </div>
            </div>
            <!-- /.content-section-b -->

            <div class="content-section-a mb-3">
                <div class="row">
                    <hr class="section-heading-spacer">
                    <div class="col-lg-6 col-sm-6">
                        <div class="clearfix"></div>
                        <h2 class="section-heading">3D Viewer</h2>
                        <p class="lead text-align-justify">KiCad includes a 3D viewer which you can use to inspect your design in an interactive canvas. You can rotate and pan around to inspect details that are difficult to inspect on a 2D view. Multiple rendering options allow you to modify the aesthetic appearance of the board or to hide and show features for easier inspection.</p>
                        <a href="/discover/3dviewer/" class="btn btn-secondary btn-block mb-3" aria-label="Learn more about the 3d viewer">
                            <i class="fa fa-book fa-fw"></i> <span class="network-name">Learn more</span>
                        </a>
                    </div>
                    <div class="col-lg-6 col-sm-6">
                        <a href="/img/frontpage/kicad_3dviewer.png" aria-label="Click to view larger image of hackRF PCB">
                            <img class="ratio ratio-16x9" src="/img/frontpage/kicad_3dviewer_thumb.png" alt="Image of hackRF PCB rendered in 3D Viewer">
                        </a>
                    </div>
                </div>
            </div>
            <!-- /.content-section-a -->
        </div>
        <div class="col-md-3">
        {{ partial "latest_blog_posts.html" . }}
        </div>
    </div>
</div>

{{ partial "footer.html" .}}